<div class="modal-header">
   <h3 id="myModalLabel">Add Photo</h3>
</div>
<div class="modal-body">
  <div>
     <%= form_for @photo do |f| %>

        <table>
          <tbody>
           
            <tr>
              <td><label>Location</label></td>
              <td><%= text_field_tag 'location', nil, placeholder: 'Town, City, Postcode...', required: true%></td>
            </tr>
            <tr>
              <td><label>Photo</label></td>
              <td><%= f.file_field :image, required: true %></td>
            </tr>
          </tbody>
        </table> 
        <br>
        <table>
          <tbody>
            <tr>
              <td><button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button></td>
              <td><%= f.submit "Submit", class: "btn btn-primary", id: 'test'%></td>
            </tr>
          </tbody>
        </table>
        <%= f.hidden_field :lat, value: "" %>
        <%= f.hidden_field :lng, value: ""  %>
     <% end %>
  </div>
</div>


