<%= form_for @photo do |f| %>

  <label>Latitude</label>
  <%= f.number_field :lat, step: :any %>

  <label>longitude</label>
  <%= f.number_field :lng, step: :any %>

  <br/>
  <br/>
  <label>Photo</label>
  <%= f.file_field :image %>

  <br/>
  <br/>
  <%= f.submit %>
<% end %>