<!DOCTYPE html>
<html>
  <head>
    <title>AlienEncounters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application'%>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVI5OeqKWBBPxInEtlQmENnm50qqjS8ZA" type="text/javascript"></script>
  </head>

  <body>
    <nav>
      <div class="logo"><%=image_tag("ufo.png", size: '40x40')%></div>
      <%= link_to "Add photo", new_photo_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
      <div class="search">
        <form id="searchForm">
          <input type="text" id="seachTextbox" placeholder="Search Location.." name="search">
          <button type="submit" id="placeSearch"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </nav>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notice"><%= flash[:alert] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
